<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron" style="padding:40px;">
      <h1>Light control</h1>
      <p>
        <a class="btn btn-default light" href="#" role="button" data-pin="0" data-value="0">pin 1</a>
      </p>
      <p>
        <a class="btn btn-default light" href="#" role="button" data-pin="1" data-value="0">pin 2</a>
      </p>
      <p>
        <a class="btn btn-default light" href="#" role="button" data-pin="2" data-value="0">pin 3</a>
      </p>
      <p>
        <a class="btn btn-default light" href="#" role="button" data-pin="3" data-value="0">pin 4</a>
      </p>
      <p>
        <a class="btn btn-default light" href="#" role="button" data-pin="4" data-value="0">pin 5</a>
      </p>
    </div>
    <hr /><br />
    <p>
      <a class="btn btn-default switch" href="#" role="button" data-value="0">main switch</a>
    </p>
  </div>
</body>
</html>
